* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
}


.container {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 10px;
  width: 120px;
  background-color: #3882F6;
  border-radius: 8px;
  color: white;
}

/* Header */

.header {
  background: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.right-links {
  display: flex;
  gap: 10px;
}

/* Description */

.description {
  background: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9FAF8;
  gap: 32px;
  padding: 50px;
}

.description button {
  border: none;
}


.image-placeholder {
  display: flex;
  width: 400px;
  height: 300px;
  background: gray;
  justify-content: center;
  align-items: center;
}

/* Cards */

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.square {
  border: 4px solid #3882F6;
  width: 160px;
  height: 160px;
  border-radius: 20px;
}

/* Quote */

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgray;
  padding: 100px;
}

.quote-text {
  font-size: 36px;
  font-weight: 200;
}

.quote-author {
  font-weight: bold;
  color: #1f2937;
}

/* Action */

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.banner {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3882F6;
  color: white;
  padding: 50px;
  border-radius: 10px;
}

.banner-title {
  font-size: 20px;
  font-weight: 900;
}


a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer */
.footer {
  background-color: #1F2937;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
